<?xml version="1.0" encoding="UTF-8"?>
   <web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
           http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">


  <!-- o nome do servlet, configurado em servlet-name é utilizado internamente apenas
       relacionando a classe do Servlet ao URL-PATTERN do servlet, o seja, a url
       que utilizaremos para acessar o Servlet.
       Ex: http://localhost:8084/[context-name]/catalogoProdutos
  -->	 

  <servlet>
     <servlet-name>olamundo</servlet-name>
     <servlet-class>br.javaweb.teste.OlaMundo</servlet-class>
   </servlet>
  
 
   <servlet-mapping>
     <servlet-name>olamundo</servlet-name>
     <url-pattern>/olaMundo</url-pattern>
   </servlet-mapping>

</web-app>